.ratings-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.rating-box {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}

.rating-box h2 {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 600;
}

.rating-box:hover{
  color: #A259FF;
  transition: all 0.3s;
}

.rating-box p {
  margin: 5px 0 0;
  font-size: 2.4rem;
   }