.top-creators-container {
  padding: 20px;
}

.top-creators-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-creators-description h2 {
  font-size: 3.8rem;
  font-weight: 600;
}

.top-creators-description p {
  font-size: 2.2rem;
  font-weight: 400;
}

.view-rankings-btn {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 2%;
  border: 2px solid #fff;
  border-radius: 20px;
  transition: color 0.3s, border-color 0.3s;
}

.view-rankings-btn > svg {
  margin-right: 15px;
}

.view-rankings-btn:hover {
  color: var(--main-element-color);
  border-color: var(--main-element-color);
}

.view-rankings-btn svg path {
  transition: fill 0.3s;
}

.view-rankings-btn:hover svg path {
  fill: var(--main-element-color);
}

.top-creators-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.artist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 20px;
}

.artist-id {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  align-self: flex-start;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  color: #3b3b3b;
  font-size: 1.4rem;
  font-weight: 400;
}

.artist-avatar-top {
  display: block;
  height: 85px;
  margin-bottom: 8%;
}

.artist-name {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}

.artist-total-sales span {
  font-family: 'Work Sans';
  color: #858584;
  font-size: 1.6rem;
  font-weight: 400;
}

.artist-total-sales {
  font-family: 'Space Mono', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Media Queries for Tablet */
@media (max-width: 1024px) {
  .top-creators-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .artist-item {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .artist-id,
  .artist-avatar-top {
    flex: 1;
  }

  .artist-name,
  .artist-total-sales {
    flex: 2;
    text-align: left;
  }

  .artist-total-sales {
    font-size: 1.2rem;
  }

  .artist-avatar-top {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .top-creators-grid {
    grid-template-columns: 1fr;
  }

  .artist-item {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .artist-id,
  .artist-avatar-top {
    flex: 1;
  }

  .artist-name,
  .artist-total-sales {
    flex: 2;
    text-align: left;
  }

  .artist-avatar-top {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
